html > * {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex; /* or inline-flex */
  flex-direction: row;
  width: 90%;
  height: 80%;
  margin: auto;
}

.columns {
  width: 15%;
}

.main {
  width: 85%;
}